body {
  background: linear-gradient(rgba(127, 191, 63, 0.1), rgba(127, 191, 63, 0.1)),
    url(../images/sayagata-400px.png) fixed right top;
  margin: 0 auto;
  font-family: "Open Sans", Helvetica, sans-serif;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/green_coffee.jpeg) no-repeat center top;
  background-size: cover;
  max-width: 100%
  height: 100vh;
  margin: 0 auto 2rem;
  overflow: hidden;
}

main {
  max-width: 65%;
  margin: 0 auto;
}

h1 {
  font-size: 5em;
}

h3 {
  text-align: center;
  color: #444;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main p {
  margin: 0 0 1rem;
  color: #444;
}

#profile-image {
  shape-outside: circle(50%);
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 0.25rem;
  border-radius: 50%;
  max-width: 150px;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.site-name {
  margin: 0 auto 1.5rem;
}

.intro-header {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.85);
}

.intro-header h2 {
  display: inline-block;
  margin: 0 0.5rem;
  font-variant: small-caps;
}

/*Past projects*/

.past-projects {
  display: inline-block;
  width: 100%;
  margin: 0 0 4rem;
  text-align: center;
}

.past-projects h3 {
  margin: 2rem 0 0;
}

.project-list {
  padding: 0;
}

.project-list li {
  display: inline-block;
  max-width: 30%;
  margin: auto 0;
  font-size: 0.75em;
  text-align: center;
}

.project-list figure {
  margin: 0;
}

.project-list figure img {
  width: 100%;
}

/*Navigation*/

.navmenu {
  position: absolute;
  height: 2.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
}

.navmenu li {
  width: 10%;
  height: 100%;
  display: inline-block;
}

.navmenu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  padding-top: 0.5rem;
  text-align: center;
}

.navmenu li a:hover {
  color: rgba(50, 50, 50, 0.9);
  background: rgba(255, 255, 255, 0.925);
  transition-duration: 0.4s;
}

footer a img {
  border-radius: 50%;
  width: 40px;
}

.site-footer {
  box-sizing: border-box;
  margin-top: auto;
  padding: 0.5rem 1rem 0;
  background: #ddd;
  height: 60px;
  width: 100%;
}

.site-footer a p {
  margin: 1rem 0 0 0;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.site-footer div {
  display: inline-block;
  float: right;
}

.site-footer div a img {
  margin: 5px 0 0 5px;
}


/*Media queries*/

@media screen and (max-width: 768px) {
  main p {
    text-align: center;
  }

  figcaption {
    display: none;
  }

  #profile-image {
    display: block;
    margin: 0 auto 1rem;
    float: none;
    width: 325px;
    max-width: 80%;
  }
  .intro-header {
    text-align: center;
  }

  .past-projects h3 {
    margin: 2rem 0 0.5rem;
  }

  .past-projects figure {
    display: block;
    min-width: 50%;
    margin: 0 auto;
    padding: 0;
  }
}
