body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  float: right;
}

main {
  padding-bottom: 60px;
}

footer a img {
  border-radius: 50%;
  width: 40px;
}

.site-header {
  width: 100%;
  height: 8.5rem;
  background: url(../images/Distance-Header.png) no-repeat center bottom;
  margin: 0 auto 2rem;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
}

.container {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 100%;
  margin: 5rem auto 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-name {
  display: inline-block;
  margin: 0 auto;
}

.site-name a{
  color: #fff;
  padding: 5px;
  text-align: center;
  height: 25px;
}

.navmenu {
  margin: 0 auto;
  padding-top: 0.75rem;
}

.navmenu li {
  height: 50px;
  display: inline-block;
  list-style-type: none;
}

.navmenu li a {
  font-weight: bold;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}

.navmenu li a:hover {
  color: rgba(70, 70, 70, 0.9);
  background: rgba(255, 255, 255, 0.925);
  transition-duration: 0.4s;
}

.site-footer {
  box-sizing: border-box;
  margin-top: auto;
  padding: 0.5rem 1rem 0;
  background: #ddd;
  height: 60px;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.site-footer a p {
  margin: 1rem 0 0 0;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.site-footer div {
  display: inline-block;
  float: right;
}

.site-footer div a img {
  margin: 5px 0 0 5px;
}

.mobile-header {
  display: none;
}

.to-top {
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 1;
}

.to-top a {
  display: inline-block;
}

.to-top a img {
  opacity: 0.5;
  width: 40px;
  padding-right: 1rem;

}

@media screen and (max-width : 768px) {
  .site-header {
    background: none;
    margin: 0 auto;
  }
  .container {
    margin:0 auto;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
  }
  .container h1 {
    display: none;
  }
  .navmenu li {
    display: none;
  }
  .mobile-header {
    display: inline-block;
    width: 100%;
    padding-top: .5rem;
    text-align: center;
  }
  .mobile-header a img {
    border-radius: 50%;
    width: 60px;
    margin-left: .75rem;
    margin-bottom: 0;
  }
  .site-footer p {
    margin: .5rem 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    width:100%;
    text-align: center;
  }
  .site-footer div {
    display: none;
  }
  .to-top {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .mobile-header a img {
    max-width: 15%;
  }
}
